<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>StreetartGallery</title>
    <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-latest.js"></script> 
  <script src="https://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js"></script>
  <script src="https://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js"></script>
  <script
  src="//maps.googleapis.com/maps/api/js?key=AIzaSyBUUGp7a-1sOHPgm_NwHA2e8HasF75Tomo" type="text/javascript"></script>
</head>
<body>

  <%= render 'layouts/header' %>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>